<p style="color: green"><%= notice %></p>

<h1>Opinions</h1>

<div id="opinions">
  <% @opinions.each do |opinion| %>
    <%= render opinion %>
    <p>
      <%= link_to "Show this opinion", opinion, class: 'btn btn-primary' %>
    </p>
  <% end %>
</div>

<%= link_to "New opinion", new_opinion_path, class: 'btn btn-primary' %>
<hr>



