<h1 class="font-bold text-4xl text-blue-500">Drop your view</h1>
<p>It is a large community for us all to express our desire for change</p>
<%= link_to "Log out", destroy_user_session_path, data: { "turbo-method": :delete } %>
 <%= link_to "Go to opinions", opinions_path, class:"btn btn-primary" %>